/* demo css */
.container {
	width: 50%;
	margin: 10% auto;
}
/* write example css below */
.box{
border-top-style: solid;
border-right-style: solid;
border-bottom-style: solid;
border-left-style: solid;
}

