.content {padding-bottom:20px;background-color:#EEE;overflow:auto;}
#main{width:630px;margin-right:10px;margin-left:10px;float:left;}
#secondary{width:300px;margin-right:10px;margin-left:10px;float:left;}
dd{line-height:1.5em;margin-bottom:1.5em;}

