div#nav{width:99%;display: flex;align-items:center;justify-content:space-evenly;margin:15px;}
		div.day{width:99%;display: flex;align-items:center;justify-content:space-evenly;}
		div#nav div.right{float:right;}
		div#nav div{width:33%;}
		body{background-color: #F0F0D8;}
		h1{background-color: #f3c58f; padding:10px;text-align:center;font-size:64px; margin:0px;border-radius:5%;}
		footer{background-color:#f3c58f;text-align:center;}
		div.day img{width:33%;}
		div.day div{float:right;text-align:justify;font-size:2.6em;padding: 5px; margin: 5px 0px 5px 5px;}
		div#nav{clear:both;border-top: 2px solid black;margin:0 auto;}
		ul a{display:inline-block; padding:6px;}
		div#nav div{text-decoration:none;list-style:none;}
		div#nav div p{text-align:center;font-size:1.25em;}
		.clearfix{overflow:auto;}
		img{border-radius:10%;padding:10px;}
		* {box-sizing: border-box;}
	 a,a:link{text-decoration:none;color:black;}
	    a:visited{color:#be3400;}
	    	    a:hover{color:#747c24;}
		
