			body{background-color: #F0F0D8;}
			div#header{background-color: #f3c58f; padding:5px; margin:0em; text-align:center;}
			div#header h1{font-size:4em;margin:0em;}
			div#header p{font-size:1em;margin:0em;}
			h2{text-align:center;font-size:1.5em;border-bottom:2px dotted black;border-top:2px dotted black; }
			div.day{display: flex;align-items:center;justify-content:space-evenly;}
			footer{background-color:#f3c58f;text-align:center;}
			* {box-sizing: border-box;}
			div.day{width:99%;}
			div.day div{text-align:justify;padding:10px 0px 10px 7px;font-size:18px;width:60%;}
			div.day img{padding: 10px 10px 10px 10px;float:right;}
			.clearfix {overflow: auto;}
			div#header p{font-size:22px;margin-top:0em;}
			nav span#home{position:absolute;top:2%;left:1%;font-size:1em;color:black;cursor:pointer;}
			nav span#forward{position:absolute;top:15%;right:1%;font-size:1em;color:black;cursor:pointer;}
			nav span#back{position:absolute;top:15%;left:1%;font-size:1em;color:black;cursor:pointer;}
			nav span a{text-decoration:none;}
	 a,a:link{text-decoration:none;color:black;}
	    a:visited{color:#be3400;}
	    	    a:hover{font-size:1.2em;color:#747c24;}
