body {background-color: #cccccc; font-family: Helvetica, Arial, sans-serif;}
h1, h2, h3, h4, h5, h6 {font-family: Georgia, serif;}
p, li {line-height: 1.25em;}
p>em {font-weight: bold;}
#nav {background-color: #dddddd;}
a, a:link {color: dark green;}
a:visited {color: #649a00;}
a:hover {color: #00638b;}
a:active {color: #008b14;}
a:focus {color: #00638b;}
table, tr, th, td{border:1px solid black;}
th, td{ padding: 4px;}
