.container{
	width: 90%;
}
fieldset{
width:75%;
}
dl{padding:0;margin:0;overflow:auto;width:100%;}
dt {
padding:0;
margin:5px 0; 
display:inline-block; 
font-weight:bold;
width:40%;
text-align:right;
}
dd {
padding:0;
margin:0; 
display:inline-block;
width:50%;
}

@media screen and (max-width: 32em) {
body{
	margin: 0;
		mix-width: 320px;
	}
	form,fieldset{
		width: 100%;
	}
	dt,dd {
	margin: 0;
		display: block;
		width: 100%;
		text-align: left;
	}
	
}